.photo-grid {
    margin: 0 auto;
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 92px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
.photo-grid {
    max-width: 288px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
 }
}