.header__language-link {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__language-link:hover {
    opacity: .8;
}

.header__language-link_active {
    text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
.header__language-link {
    font-size: 18px;
    line-height: 20px;
 }
}