.cover__subtitle {
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    z-index: 8;
    padding: 0;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 32px;
}

@media screen and (min-width: 1280px) {
	.cover__subtitle  {
        padding-bottom: 245px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.cover__subtitle  {
        line-height: 16px;
		font-size: 14px;
		max-width: 288px;
        margin-bottom: 16px;
        margin-bottom: 33px;
	}
}