.header {
    padding-top: 28px;
    padding-bottom: 48px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.header {
        padding-right: 48px;
		padding-bottom: 56px;
		padding-left: 48px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.header {
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}
}