.footer__link {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    padding-right: 18px;
    text-decoration: none;
    transition: opacity .3 ease;
    display: block;
}

.footer__link:hover {
	opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer__link {
        font-size: 24px;
		line-height: 24px;
        margin-bottom: 32px;
		margin-right: 0px;
		
	}
}