.lead__title {
    line-height: 100px;
    font-weight: 900;
    font-size: 96px;
    max-width: 720px;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.lead__title {
		font-size: 40px;
        max-width: 288px;
		padding-bottom: 16px;
		line-height: 44px;
	}
}