.footer__links {
    font-style: normal;
    display: flex;
    margin-top: 88px;
    font-weight: 400;
    list-style-type: none;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer__links {
		flex-direction: column;
		font-size: 24px;
        padding-top: 0;
        margin: 0;
	}
}

@media screen and (min-width: 1024px) {
	.footer__links {
		margin-top: 92px;
	}
}