.place__paragraph {
    margin: 0;
    margin-bottom: 24px;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.place__paragraph {
        font-size: 16px;
		padding-left: 16px;
        line-height: 26px;
		padding-right: 16px;
	}
}