.footer__copyright {
    padding-top: 90px;
    margin: 0;
    margin-bottom: 0;
	margin-right: 48px;

}

@media screen and (min-width: 1024px) {
	.footer__copyright {
		padding-top: 94px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.footer__copyright {
        line-height: 16px;
		font-size: 14px;
		margin-right: 0;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer__copyright {
		font-size: 14px;
		line-height: 14px;
		padding-top: 0;
	}
}