.intro__text {
    padding-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.intro__text {
		padding-bottom: 34px;
	}
}