.intro {
    max-width: 690px;
	padding-top: 92px;
}

@media screen and (min-width: 1280px) {
	.intro {
		padding-top: 64px;
		margin-left: 148px;
	    margin-right: 442px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.intro {
		max-width: 720px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.intro {
		max-width: 288px;
		padding-top: 64px;
		margin: 0 auto;
	}
}