.lead__subtitle {
    line-height: 72px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    margin: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 40px;
    }
} 