.cover {
	background: url(../../images/cover-trains.jpg) center no-repeat;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
	position: relative;
	z-index: 3;
	justify-content: center;
	flex-direction: column;
    align-items: center;
    background-size: cover;
    display: flex;
}

@media screen and (min-width: 1280px) {
	.cover {
		margin-left: 48px;
	    margin-right: 48px;
	}
}

@media screen and (max-width: 1024px) {
	.cover {
		min-height: 640px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.cover {
        min-height: 480px;
	}
}

@media screen and (max-width: 425px) {
	.cover {
		min-height: 200px;
	}
}