.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
	margin: 0;
	background-position: center;
}

@media screen and (min-width: 1024px) {
	.cover {
		margin-left: 48px;
	    margin-right: 48px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.cover {
		width: 1024px;
		min-height: 640px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.cover {
        min-height: 480px;
		width: 100%;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.cover {
		min-height: 200px;
		width: 100%;
	}
}