.lead__caption {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    align-self: start;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.lead__caption {
		padding-left: 24px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.lead__caption {
		padding-left: 16px;
	}
} 