.place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 40px;
    padding: 36px 0;
    display: grid;
    padding: 0;
    padding-top: 80px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.place {
		grid-template-columns: 460px 1fr;
		grid-gap: 48px 32px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.place {
        padding: 36px 0px;
		grid-template-columns: 340px 1fr;
		grid-gap: 48px 28px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.place {
        margin: 0;
		grid-template-columns: minmax(288px, 1fr);
		grid-gap: 32px;
		}
}